<div class="container">
  <% if flash.has?(:message) %>
    <h3 style="color:#F00"><%= flash[:message] %></h3>
  <% end %>
<h2>Login below</h2>

<form action="/login" method="POST">

  <h3><label>Username:</lable></h3>

  <input type="text" name="username">

  <h3><label>Password:</lable></h3>

  <input type="password" name="password">

  <br></br>

  <input type="submit" value="Login" id="submit">
</form>
</div>
