<div class="container">
<h2>Please select a city from the following list:</h2>
<% @cities.each do |city| %>
<h3><a href="/cities/<%=city.slug%>"> <%= city.name %></h3>
<% end %>
<h3><u>Can't find the city you're looking for? <a href="/cities/new">Add it.</a></u></h3>
</div>
