<h2>Enter the details for your new city below</h2>
<form method="POST" action="/cities">
  <label>Name:</label>

  <br></br>

  <input type="text" name="name" id="name">

  <br></br>
  <label>Country:</label>

  <br></br>

  <input type="text" name="country" id="country">

  <br></br>


<input type="submit" value="Create new city">
