<div class="container">
<h2>Enter the details for a new city below</h2>
<form method="POST" action="/cities">
  <h3>Name:</h3>

  <input type="text" name="name" id="name">

  <h3>Country:</h3>

  <input type="text" name="country" id="country">

  <br></br>


<input type="submit" value="Create new city">
</div>
