<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
        body {
          padding-top: 60px;
          background-image:url('/img/grey.png');
        }
    </style>
    <title>Roam Scope</title>
  </head>

  <body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="brand" href="/">Roam Scope</a>
      <div class="nav-collapse">
        <ul class="nav nav">

          <li><a href="/cities">Cities</a></li>
          <li><a href="/cities/new">Add City</a></li>
          <li><a href="/tips/new">Add Tip</a></li>
          <% if !!session[:username] %>
            <li align="right"><a><strong>User: <%=session[:username].capitalize%></strong></a></li>
            <li align="right"><a href="/logout">Logout</a></li>
          <% else %>
            <li align="right"><a href="/login">Login</a></li>
            <li align="right"> <a href="/signup">Signup</a></li>
          <% end %>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->
    <%= yield %>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
