<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <% if !!session[:username] %>
      <p align="right">User: <%=session[:username].capitalize%></a> / <a href="/logout">Logout</a></p>
    <% else %>
      <p align="right"><a href="/login">Login</a> / <a href="/signup">Signup</a></p>
    <% end %>
    <%= yield %>
  </body>
</html>
